:root {
    --nav-font-size: 20px;
    --dropdown--menu__color: rgb(255, 255, 255);
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    position: relative;
    z-index: 1;

    animation: fadeIn 1s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}


.logo-nav {
    color: #1c2294;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}


/*links-main nav*/
.links-main {
    display: flex;
    gap: 30px;
}

.links-main a {
    color: white;
    padding: 5px;
    font-size: var(--nav-font-size);
}


/* Toggle Button */
.toggle_btn {
    display: none;
    cursor: pointer;
  }
  
  .toggle_btn img {
    width: 24px;
    height: 24px;
  }
  
  /* Dropdown Menu - Hidden by default */

  .dropdown_menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 50px;
    height: 100dvh;
    width: 90%;
    padding: 30px;
    background: var(--dropdown--menu__color);
    z-index: 99999; 
    border-radius: 20px;
}
  
  .dropdown_menu.open {
    display: block;
  }
  
  .dropdown_menu.close {
    display: none;
  }

  /* Responsive Styles */
@media (max-width: 900px) {
    /* Hide the main links and show the toggle button */
    .links-main, .btn-wrapper.flex{
      display: none;
    }
  
    .toggle_btn {
      display: block;
    }
  
    /* Show the dropdown menu when it has the 'open' class */
    .dropdown_menu.open {
      display: flex;
    }
}


