.intro-description-section {
    width: 40%;
    animation: fadeIn 1.2s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}


.intro-img-section {
    width: 50%;
    animation: fadeIn 5.7s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}

/*intro-title*/
.intro-title {
    font-size: var(--large-title);
    font-weight: bold;
    animation: fadeIn 2s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}


.intro-subtitle {
    font-size: 40px;
    animation: fadeIn 1.3s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
    white-space: nowrap;
}
.intro-subtitle .name{
    color: white;
}


.intro-slogan {
    font-size: 30px;
    white-space: nowrap;
    animation: fadeIn 1.4s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}



.intro-socials p{
    color: orange;
    font-weight: bold;
    font-size: 30px;
    animation: fadeIn 4s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}


/*image*/
.intro-img {
    background:var(--main-bg);
    box-shadow: 0px 20px 20px #8583dc;
    display: flex;
    border-radius: 50%;
    padding: 20px;
}

.intro-img img {
    opacity: 90%;
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    border-bottom: 10px solid #8583dc;
}


/*slogan*/
.change-slogan {
    color: orange;
}

/*btn-icons animation*/

.intro-description-section .btn-icon{
    animation: fadeIn 3s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}

/*social-icons*/
.social-icons div {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 4.2s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}

.social-icons img {
    transition: var(--transition-all);
    animation: fadeIn 5s ease-in-out forwards; /* Duration and easing function */
    opacity: 0;
}

.social-icons img:hover {
    scale: var(--scale-main);
    opacity: 0.6;
}

.item:nth-child(1) {
    order: 1; /* Move this item to the last position */
}

.item:nth-child(2) {
    order: 2; /* Move this item to the last position */
}


@media only screen and (max-width: 950px) {
    .intro {
        flex-direction: column;
        justify-content: center;
        min-height: 100dvh;
    }
    .item:nth-child(1) {
        order: 2; /* Move this item to the last position */
    }
    
    .item:nth-child(2) {
        order: 1; /* Move this item to the second position */
    }

    
    .intro-description-section {
        width: 100%;
        text-align: center;
    }
    .intro-subtitle,
    .intro-slogan,
    .intro-title {
        justify-content: center;
    }
    
    /* .intro-title{
        font-size: 35px;
    }

    .intro-slogan,
    .intro-subtitle
     {
        font-size: 26px;
    } */

    /*social-icons*/
    .social-icons {
        justify-content: center;
    }
  }




  
  @media only screen and (max-width: 550px) {
    .intro-title{
        font-size: 35px;
    }

    .intro-slogan,
    .intro-subtitle
     {
        font-size: 26px;
        white-space: wrap;
    }
    .intro-img-section {
        width: 100%;
    }
  }