.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-al {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure {
    width: 80%;
}



/*height*/
.height100 {
    min-height: 100dvh;
}
.height90 {
    min-height: 90dvh;
}
.height80 {
    min-height: 80dvh;
}
.height70 {
    min-height: 70dvh;
}
.height60 {
    min-height: 60dvh;
}
.height50 {
    min-height: 50dvh;
}
.height40 {
    min-height: 40dvh;
}
.height30 {
    min-height: 30dvh;
}
.height20 {
    min-height: 20dvh;
}





/*gap*/
.gap50 {
    gap: 50px;
}
.gap40 {
    gap: 40px;
}
.gap30 {
    gap: 30px;
}
.gap20 {
    gap: 20px;
}
.gap10 {
    gap: 10px;
}
.gap5 {
    gap: 5px;
}




.width20 {
    width: 20%;
}

.width30 {
    width: 30%;
}

.width40 {
    width: 40%;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}

.width70 {
    width: 70%;
}

.width80 {
    width: 80%;
}

.width90 {
    width: 90%;
}

.width100 {
    width: 100%;
}


@media only screen and (max-width: 950px) {
    .structure {
        width: 100%;
        padding: 0px 20px;
    }
  }