@import url(span-btns.css);
:root{
    --btn-gradient: linear-gradient(90deg, #164a99 0%, #45E2C6 100%);
    --transparent-btn: rgba(255, 255, 255, 0.1);
    --btn-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    display: flex;
    text-align: center;
    background: var(--btn-gradient);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: var(--transition-all);
    box-shadow: var(--btn-shadow);
}

.btn:hover {
    scale: var(--scale-main);
    color: rgb(24, 25, 97);
}


/*btn-no-bg*/

.btn-no-bg {
    background: none;
    border: 4px solid transparent;
    border-radius: 10px;
    border-image: var(--btn-gradient) 1;
}

/*btn with icon*/
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
