.btn-span-icon {
    background-color: var(--transparent-btn);
    border-radius: 5px;
    padding: 10px;
    transition: width 0.3s ease; /* Add transition for smooth animation */
    width: 20px; /* Initial width, adjust as needed */
}

.btn-icon:hover .btn-span-icon{
    width: 100px; /* Width on hover */
}